<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [Requeteur SQL v1.0] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="logs/Garage2.log" bufferedIO="true" advertise="true">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [Garage v0.2] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="File" level="debug"/>
      <AppenderRef ref="Console" level="debug"/>
    </Root>
  </Loggers>
</Configuration>